<!DOCTYPE html>
<html>

<head>
    <title>Contacts</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <div id="app">       
        <div class="card">
            <div class="card-body">
                <h1>Contacts </h1>
            </div>
            
        </div>

        
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-3">
                    <input v-model="newName" placeholder="Name">
                    <div class="input-group-append">
                        <button class="btn btn-primary" v-on:click="addContact"> Add Contact </button>
                    </div>
                </div>
            </div>
        </div>
        

        <br>

        <div class="card">
            <div class="card-body">
                <div v-for="person,i in contacts">
                    <h3> {{ i + 1 }}. {{ person.name }}
                        <button class="btn btn-secondary" v-on:click="editContact = person._id">Edit Contact</button>
                        <button class="btn btn-danger" v-on:click="deleteContact(person._id, i)"> Delete Contact </button>
                    </h3>

                    <div v-if="editContact === person._id">
                        <div class="input-group mb-3">
                            <input v-model="updatedName" placeholder="New Name">
                            <div class="input-group-append">
                                <button class="btn btn-success" v-on:click="updateContact(person._id, i)"> Update Contact </button>
                            </div>
                        </div>
                    </div>
                
                    <br>
                    <!-- <p> {{ person._id }} </p> -->
                
                </div>
            </div>
        </div>
        
        <br>       
        
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                contacts:[],
                newName: "",
                updatedName: "",
                editContact: ""
            },
            methods: {
                addContact() {
                    axios
                        .post('https://zca0xb1s61.execute-api.ap-southeast-1.amazonaws.com/dev/contacts', {
                            name: this.newName
                        })
                        .then(response => (this.contacts.push(response.data)))
                        .catch(error => console.log(error))
                    this.newName = "";
                },
                deleteContact(id, i) {
                    axios
                        .delete('https://zca0xb1s61.execute-api.ap-southeast-1.amazonaws.com/dev/contacts/' + id)
                        .then(() => {
                            this.contacts.splice(i, 1);
                        })
                        .catch(error => console.log(error))

                },
                updateContact(id, i) {
                    axios
                        .put('https://zca0xb1s61.execute-api.ap-southeast-1.amazonaws.com/dev/contacts/' + id, {
                            name: this.updatedName
                        })
                        .then(() => {
                            this.contacts.splice(i, 1, this.updatedName);
                        })
                        .catch(error => console.log(error))
                    
                }
            },
            mounted() {
                axios
                    .get('https://zca0xb1s61.execute-api.ap-southeast-1.amazonaws.com/dev/contacts')
                    .then(response => (this.contacts = response.data))
            }
        })
    </script>
</body>

</html>